<app-main-header></app-main-header>

<ion-content [fullscreen]="true">
  <ion-img src="../../../assets/home_banner.jpeg" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
  <div class="ion-padding">
    <swiper-container>
      <swiper-slide>
        <ion-img src="../../../assets/home_banner.jpeg" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
      </swiper-slide>
      <swiper-slide>
        <ion-img src="../../../assets/home_banner.jpeg" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
      </swiper-slide>
      <swiper-slide>
        <ion-img src="../../../assets/home_banner.jpeg" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>
